
body{
    font-family: "Open Sans", sans-serif;
}
.text-primary{
    color: #FD6E0A;
}

.btn-primary{
    background:  #FD6E0A;
    border-radius: 5px ;
    border: 0;
    font-size: 20px;
    font-weight: 700;
    color: white;
    padding: 15px 35px;
}
/* nav related styles */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 200px;
}

.nav-title{
    font-size: 40px;
    font-weight: bold;
}


nav > ul{
    display: flex;
    align-items: center;

}

nav li{
    list-style: none;
    margin-right:  50px;
}
nav > ul > li > a{
    text-decoration: none;
}

/* header relate styles */

.header{
    background-color: #FFF8F3;
}
.banner{
  padding: 30px 30px 30px 150px;
  display: flex;  
  align-items: center;
}
.banner .profile-pic{
    width: 300px;
}
