
body{
    font-family: "Open Sans", sans-serif;
}
.text-primary{
    color: #FD6E0A;
}

.btn-primary{
    background:  #FD6E0A;
    border-radius: 5px ;
    border: 0;
    font-size: 20px;
    font-weight: 700;
    color: white;
    padding: 15px 35px;
}
.section-title{
    font-weight: bold;
    font-size: 35px;
    text-align: center;
}
/* nav related styles */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 200px;
}

.nav-title{
    font-size: 40px;
    font-weight: bold;
}


nav > ul{
    display: flex;
    align-items: center;

}

nav li{
    list-style: none;
    margin-right:  50px;
}
nav > ul > li > a{
    text-decoration: none;
}



/* header relate styles */

.header{
    background-color: #FFF8F3;
    background-image: url(../images/header_bg.png);
    background-repeat: no-repeat;
    background-position: bottom right;
    background-size: 600px 360px;
    
}
.banner{
  padding: 30px 30px 0px 150px;
  display: flex;  
  align-items: center;
  justify-content: space-between;
}
.banner-content{
    max-width: 500px;
}

.banner-greeting{
    font-size: 45px;
    margin-bottom: 0px;
    color: grey;
}
.banner-title{
    font-size: 80px;
    margin-top: 5px;
    margin-bottom: 0px;

}
.banner-description{
    margin-top: 5px;

}


.banner .profile-pic{
    width: 300px;
}

/* main section styles */
main{
    max-width: 1140px;
    margin: 0 auto;
}

/* about section styles */
.about{
    padding: 130px;
    border-radius: 10px;
    background: #FFF8F3;
    margin: 130px 0;
}
.section-des{
    color: #a7a5a2;
    font-size: 18px;
    text-align: center;
}

.about-info-container{
    display: flex;
    justify-content: space-between;
}

.about-info{
}

.info-title{
    color: #a7a5a2;
    font-size: 17px;
    text-align: center;
    margin-bottom: 0;

}
.info-description{
    font-size: 17px;
    text-align: center;
    margin-top: 5px;
    font-weight: bold;
}